/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.description1 {
    padding-right:5%;
}

.desc2 b{
    color:#669900;
}

.allcaps {
    font-variant: small-caps;
    text-transform: uppercase;
    color:#669900;
}

.allcaps2 {
    font-variant: small-caps;
    text-transform: uppercase;
    color:#000000;
}

.desc { 
    padding-bottom:10%;
    padding-right:10%;
    width:90%;
}

.desc b{
    color:#669900;
}

.desc {
    padding-left:5%;
    width: 352px;
}

#profilegrid .imgcropped {
    margin-right: 3.5%;
    margin-top: 3.5%;

 }

/*#profilegrid .cropped {
    box-shadow: 0em 0em 0em #888888;
    
 }*/

#otherprofilegrid .imgcropped {
    margin-right: 3.5%;
    margin-top: 3.5%;

 }

 #wanteditems .imgcropped {
    margin-right: 3.5%;
    margin-top: 3.5%;

 }

/*#otherprofilegrid .cropped {
    box-shadow: 0em 0em 0em #888888;
    
 }*/

 .postactions {
    padding-top: 10%;
 }

.cropped {

/*    background-image: url('img/flask.jpeg');
    width: 200px;
    height: 100px;
    background-position: center;

    background-size: cover;*/
/*    box-shadow: 0em 0em 2.5em #888888;
*/
    position: relative;
    width: 100%;
}

.cropped:before {

    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

.imgcropped{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: cover;
}

 #comment a{
    overflow: visible !important;
    white-space: normal !important;
 }

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
.ui-icon-lib-camera: {
    background: url(icon.png);
}
.ui-icon-lib-search: {
    background: url(images/icons-png/search_icon.png);
}
.ui-icon-lib-profile: {
    background: url(images/icons-png/profile_icon.png);
}
.ui-icon-lib-home: {
    background: url(images/icons-png/home_icon.png);
}

.ui-icon-lib-camera:after {
    background-image: url("images/icons-png/search_icon.svg");
    /* Make your icon fit */
}

/* Fallback */
.ui-nosvg .ui-icon-lib-camera:after {
    background-image: url("images/icons-png/search_icon.png");
}

.ui-icon-myapp-settings {
    background: url("settings.png") no-repeat rgba(0, 0, 0, 0.4) !important;
}

#ui-icon-lib-home {
    background-image: url("img/button_home.png");
}
#ui-icon-lib-photo {
    background-image: url("img/button_liberum.png");
}
#ui-icon-lib-profile {
    background-image: url("img/button_profile.png");
}

#itemimage img{
    vertical-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.navbutton img{
    width:30%;
}  

#searchButton {
    margin-left: 2%;
}

}
#nav a {
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: #222;
    border-bottom: 2px solid #666;
    color: black;
    display: inline;
    padding: 10px 0;
    text-align: center;
    margin: 0;
    padding: 0;
}

#nav div.pressed {
    border-bottom: 1px solid #666;
    color: blue;
}

#header h1 {
 margin: 0;
 padding: 0;
}

#header h1 a {
 background-color: #669900;
 border-bottom: 1px solid #669900;
 color: #ffffff;
 display: block;
 font-family: 'Exo', sans-serif;
 font-size: 20px;
 font-weight: bold;
 padding: 10px 0;
 text-align: center;
 text-decoration: none;
}

#header h1 a {
 text-shadow: 0px 2px 0px #000;
 background-image: #669900;
}

#header ul.hide {
 display: none;
}

.gridlayout div img{
    width:100%;
    height:100%;
}

.ui-grid-b div{
    padding-right: 3px;  
}

#header div.pressed {
 -webkit-border-image: url(img/button_clicked.png) 0 8 0 8;
}

body {
 background-color: #ffffff; /* Background color */
 color: #222; /* Foreground color used for text */
 font-family: Helvetica; 
 font-size: 14px;
 margin: 0; /* Amount of negative space around the 
 outside of the body */
 padding: 0; /* Amount of negative space around the 
 inside of the body */
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.header{
    position: fixed;
    top:0px;
    bottom:auto;
    right:auto;
    left:auto;
}

h1{
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
